
.top {
    background-color: rgb(127,127,127);
    background-image: url(/images/mountains.jpg);
    background-size: cover; /* cover => scales image to 100% cover ht & width and crops if needs to*/
}

.image-wrapper {
    display: grid;
    grid-template-columns: repeat(5,minmax(1rem, 1fr));
    place-items: center;
}

img {
    object-fit: contain; /* contain => onject fits within container but maintains its ht X W ratio so might be smaller than container size */
    border-radius: 50px;
    width: 250px;
    height: auto;
    max-height: 250px;
    max-width:100%;
}

.title {
    color: rgb(0,64,64);
    font-size: 2.4rem;
    text-align: center;
    font-family: sans-serif;
}

.navbar {
    display: grid;
    grid-template-columns: repeat(5,minmax(1rem, 1fr));
    place-items: center;
    background-color: rgb(193,127,127);
    font-size: 1.5rem;
}

a {
    color: rgb(64,0,64);
}

.navbar a:hover {
    background-color: rgb(193,193,193);
    color: black;
}

.about-me {
    display: grid;
    grid-template-columns: repeat(3,minmax(1rem, 1fr));
    justify-content:left;
    background-color: rgb(127,193,127);
}
.about-me p {
    color: black;
    margin-left: 2rem;
    margin-right: 2rem;
}    

.subsection-title {
    grid-column: 1/-1;
    font-size: 1.5rem;

}    

.social-icons {
    grid-column: 2/3; /* icons to just display in middle column */
    display: grid; /* sets up another inner grid */
    grid-template-columns: repeat(10, 1fr); /* 5 equal size columns */
    grid-auto-flow: column; /* allows for expansion*/
    grid-auto-columns: 1fr;
    align-items: center;
  }

.my-resume {
    display: grid;
    grid-template-columns: repeat(3,minmax(1rem, 1fr));
    justify-content:left;
    background-color: rgb(127,127,193);
}
.my-resume p {
    color: black;
    margin-left: 2rem;
    margin-right: 2rem;
}    
.my-portfolio {
    background-color: rgb(193,127,127);
}


/* MEDIA QUERIES */
@media only screen and (max-width: 1000px) {
    .image-wrapper {
        grid-template-columns: repeat(3,minmax(1rem, 1fr));
    }
    .navbar {
        font-size: 1rem;
    }
    .title {
        font-size: 1.4rem;
    }
}